apiversion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3 
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app   
    spec:
      containers:   
      - name: my-container
        image: deepakc742004/my-app:latest
        ports:
        - containerPort: 80
      
